<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.workflow.mapper.ActFullClassParamMapper">

    <resultMap type="com.ruoyi.workflow.domain.ActFullClassParam" id="ActFullClassParamResult">
        <result property="id" column="id"/>
        <result property="paramType" column="param_type"/>
        <result property="param" column="param"/>
        <result property="remark" column="remark"/>
        <result property="fullClassId" column="full_class_id"/>
        <result property="orderNo" column="order_no"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="createBy" column="create_by"/>
        <result property="updateBy" column="update_by"/>
    </resultMap>


</mapper>
