<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.ActRuExecutionMapper">

    <resultMap type="com.ruoyi.workflow.domain.ActRuExecution" id="ActRuExecutionResult">
        <result property="id" column="ID_"/>
        <result property="rev" column="REV_"/>
        <result property="procInstId" column="PROC_INST_ID_"/>
        <result property="businessKey" column="BUSINESS_KEY_"/>
        <result property="parentId" column="PARENT_ID_"/>
        <result property="procDefId" column="PROC_DEF_ID_"/>
        <result property="superExec" column="SUPER_EXEC_"/>
        <result property="rootProcInstId" column="ROOT_PROC_INST_ID_"/>
        <result property="actId" column="ACT_ID_"/>
        <result property="isActive" column="IS_ACTIVE_"/>
        <result property="isConcurrent" column="IS_CONCURRENT_"/>
        <result property="isScope" column="IS_SCOPE_"/>
        <result property="isEventScope" column="IS_EVENT_SCOPE_"/>
        <result property="isMiRoot" column="IS_MI_ROOT_"/>
        <result property="suspensionState" column="SUSPENSION_STATE_"/>
        <result property="cachedEntState" column="CACHED_ENT_STATE_"/>
        <result property="tenantId" column="TENANT_ID_"/>
        <result property="name" column="NAME_"/>
        <result property="startTime" column="START_TIME_"/>
        <result property="startUserId" column="START_USER_ID_"/>
        <result property="lockTime" column="LOCK_TIME_"/>
        <result property="isCountEnabled" column="IS_COUNT_ENABLED_"/>
        <result property="evtSubscrCount" column="EVT_SUBSCR_COUNT_"/>
        <result property="taskCount" column="TASK_COUNT_"/>
        <result property="jobCount" column="JOB_COUNT_"/>
        <result property="timerJobCount" column="TIMER_JOB_COUNT_"/>
        <result property="suspJobCount" column="SUSP_JOB_COUNT_"/>
        <result property="deadletterJobCount" column="DEADLETTER_JOB_COUNT_"/>
        <result property="varCount" column="VAR_COUNT_"/>
        <result property="idLinkCount" column="ID_LINK_COUNT_"/>
    </resultMap>


</mapper>
